<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Internet Based speed test</title>
</head>

<body>
    <h2>Spest.</h2>
    <h4>Running internet speed test...</h4>
    <section id="speed">
        <pre id="output"></pre>
    </section>
    <section>
        <h1>
            <pre id="final"></pre>
        </h1>
    </section>
</body>
<script type="application/javascript">
    const output = document.getElementById("output");
    const final = document.getElementById("final");

    if (window['WebSocket']) {
        const conn = new WebSocket('ws://' + document.location.host + '/ws')
        console.log(conn)

        conn.onmessage = e => {
            const data = JSON.parse(e.data);
            console.log(data)
            if (data.Network.download >= 0) {
                output.innerHTML = `${data.Network.download} Mbps`
            }
            if (data.Done == true) {
                final.innerHTML = `Your internet speed is ${output.innerHTML}`
                output.innerHTML = ``
            }
        }
    }
</script>
<script src="/js/location.js"></script>
</body>

</html>