<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Internet Based speed test</title>
</head>

<body>
    <h2>Spestr.</h2>
    <h4>Running internet download speed test...</h4>
    <section id="speed">
        <pre id="output"></pre>
    </section>
    <section>
        <h1>
            <pre id="final"></pre>
        </h1>
        <pre>
            <ul id="metadata"></ul>
        </pre>
    </section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<!-- <script src="/js/location.js"></script> -->
<script type="application/javascript">
    // Get user location

    const handleError = (err) => {
        console.log(err.PERMISSION_DENIED)
        if (err.PERMISSION_DENIED) {
            console.log("Permission was denied");
            console.log(err.message);
            return;
        }
        console.log(err.message);
    }

    const output = document.getElementById("output");
    const final = document.getElementById("final");
    const metadata = document.getElementById("metadata");

    const URL = 'ws://' + document.location.host + '/socket.io/';
    const conn = io()
    conn.on("connect", function (e) {
        console.log("connected")
        if (navigator.geolocation) {
            const options = {
                enableHighAccuracy: true,
                timeout: 50000,
                maximumAge: 0
            };
            navigator.geolocation.getCurrentPosition(function (pos) {
                console.log(pos)
                // for some reason go doesn't accept the raw `pos` object
                conn.emit("position", {
                    coords: {
                        accuracy: pos.coords.accuracy,
                        latitude: pos.coords.latitude,
                        longitude: pos.coords.longitude,
                    },
                    timestamp: pos.timestamp,
                });
            }, handleError)
        }
    })
    conn.on("test result", function (data) {
        console.log(data)
        if (data.Network.download >= 0) {
            if (data.Network.download > 1000) {
                output.innerHTML = `${(data.Network.download/1000).toFixed(2)} Mbps`
            } else {
                output.innerHTML = `${data.Network.download} Kbps`
            }
        }
        if (data.Done == true) {
            // send network effectiveType (2g/3g/4g)
            conn.emit("network type", navigator.connection.effectiveType)
            final.innerHTML = `Your internet speed is ${output.innerHTML}`
            output.innerHTML = ``
            for (const info in data.ispInfo) {
                if (info == 'lat' || info == 'lon') continue;
                const li = document.createElement("li");
                li.innerHTML = `${info}: ${data.ispInfo[info]}`
                metadata.appendChild(li)
            }
            conn.close();
            console.log("connection closed");
        }
    })
    // closes socket connection when user refreshes
    window.onbeforeunload = () => {
        conn.onclose = () => {}; // disable onclose handler first
        console.log("Connection closed")
        conn.close();
    };
</script>
</body>

</html>